/* views - Cruise */
.h-col {
  height: 60px;
  line-height: 60px;
}
/* num-card的wrap */
.num-card {
  height: 120px;
  background: #F3F3F3;
}

.num-card-label {
  margin-top: 20px;
  text-align: center;
  color: #2D4054;
  font-size: 12px;
}

.num-card-num {
  text-align: center;
  margin-top: 50px;
  color: #000;
  font-size: 20px;
}
