/* components - Menu */
/* Menu wrap */
.menu-wrap {
  display: inline-block;
  width: 100%;
}
/* Item wrap */
.item-wrap {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 20%;
}

.item-wrap:hover {
  cursor: pointer;
  background: #435466;
}