/* components - Layout */
/* Header */
/* Header wrap */
.header-wrap {
  width: 100%;
  height: 60px;
  background:#F3F3F3;
}
/* Sider */
.sider-wrap {
  /* display: inline-block; */
  float: left;
  width: 200px;
  height: calc(100vh - 90px);
  background:#2D4054;
}
/* Content */
.content-wrap {
  /* display: inline-block; */
  float: right;
  width: calc(100vw - 200px);
  height: calc(100vh - 90px);
  background:#E1E4E6;
}
/* Footer */
.footer-wrap {
  clear: both;
  width: 100%;
  height: 30px;
  background: #F3F3F3;
}
/* Layout */
.layout-wrap {
  width: 100%;
  clear: both;
}