/* List Item */
/* wrap的样式 */
.ls-item-wrap {
  margin-top: 10px;
  background: #F3F3F3;
  padding: 0 15px 0 0;
  /* border: 1px solid #F00; */
}
/* name部分的样式 */
.ls-item-name {
  display: inline-block;
  height: 30px;
  line-height: 20px;
  font-weight: 600;
  color: #00B4CF;
}

/* status的样式 */
.status-wrap {
  display: inline-block;
  padding: 2px 6px;
  color: #fff;
}

.status-idle {
  background: #FF9A2A;
}

.status-building {
  background: #7FBC39;
}

/* resource部分的样式 */
.resource-wrap {
  display: inline-block;
  vertical-align: middle; /* 调整base-line */
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  padding: 2px 2px;
  background: #EFEFEF;
}

/* 图标 */
/* Icon plus */
.icon-plus-wrap {
  font-size: 18px;
  padding: 3px 6px;
  color: #fff;
  margin-bottom: 2px;
  background: #00B4CF;
}

/*间距*/
.margin-left {
  margin-left: 10px;
} 