/*component - Button*/
/* Button.wrap */
.btn-wrap {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  padding: 0 12px;
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

/* 各种类型的Button */
.btn-primary {
  color: #fff;
  background: #00B4CF;
}