/*component - Button*/
/* Button.wrap */
.btn-wrap {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 30px;
  max-width: 200px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  padding: 0 12px;
  user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

/* 各种类型的Button */
/* type='primary' */
.btn-primary {
  color: #fff;
  background: #00B4CF;
}

/* type='dark' */
.btn-dark {
  color: #fff;
  background: #2D4054;
}