/* components - Layout */
/* Header */
/* Header wrap */
.header-wrap {
  width: 100%;
  height: 60px;
  background:#F3F3F3;
}
/* Sider */
.sider-wrap {
  /* display: inline-block; */
  float: left;
  width: 200px;
  margin-left: 10vw;
  overflow: auto;
  height: calc(100vh - 90px);
  background:#2D4054;
  color: #f3f3f3;
}
/* Content */
.content-wrap {
  /* display: inline-block; */
  float: right;
  width: calc(80vw - 200px); /* 宽度的计算 注意整个width中的margin */
  height: calc(100vh - 90px);
  /* min-width: 800px; */
  margin-right: 10vw;
  overflow: auto;
  background:#E1E4E6;
}
/* Footer */
.footer-wrap {
  clear: both;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #F3F3F3;
}
/* Layout */
.layout-wrap {
  width: 100%;
  clear: both;
}