/* customised component - OderComponent */
/* wrap */
.or-select-wrap {
  display: inline-block;
}
/* 下拉框的开关部分 */
.or-select-switch {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #E1E4E6;
}

/* 下拉框的wrap */
.options-wrap {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 120px;
  position: fixed;
  padding: 10px 0;
  background: #F3F3F3;
}

.option-wrap:hover {
  background: #EFEFEF;
}
