/* 业务型组件 - ConfigBox */
.config-box-wrap {
  width: 570px;
  padding: 15px 15px 5px 15px;
  border: 1PX solid #00B4CF;
  box-shadow: 0 3px 5px #555;
  background: #F3F3F3;
} 

/* 弹窗中取消图标的样式 */
.icon-close-wrap {
  font-size: 20px;
  color: #00B4CF;
}